  body{
      background-color:powderblue;
    }
    hr{
      background-color:powderblue ;
      border-style: dotted none none ;
      width: 100%;
      border-width: 5px;
      border-color: grey;
    }
    h1{
      color: red;
    }
    h2{
      color: red;
    }
    h3{
      color: red;
    }
