*{
  margin: 0;
  padding: 0;
  font-family: 'Cookie', cursive;
}
nav{
  background-color: #f1f1f1;
  width: 100%;
  height:60px;
  padding-top: 10px;
  font-family: 'Cookie', cursive;
}
nav p{
  color: #222;
  font-size: 60px;
  line-height: 55px;
  float: left;
  padding: 0 20px;
  font-style: italic;
}
nav ul{
  float:right;
}
nav ul li{
float: left;
list-style: none;
position: relative;
padding-left: 15px;
}
nav ul li a{
  display: block;
  font-family: sans-serif;
  color: #222;
  font-size: 14px;
  padding:15px 14px;
  text-decoration: none;
}
nav ul li a.active{
  background-color: dodgerblue;
  color: white;
  border-radius: 4px;
}
nav ul li a:hover{
  background-color: #ddd;
  display: block;
 border-radius: 4px;
}
nav ul li ul{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  padding-left: 0;
}
nav ul li:hover ul{
 display: block;
}
nav ul li ul li a{
    padding: 12px 14px;
    border-radius: 4px;

}
nav ul li ul li a:hover{
    background-color: #ddd;
}
