body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}
h1{
    margin: 0;
    font-style: italic;
    font-size: 70px;
    color: #3FA796;
    position: relative;
    bottom: 60px;
  }
.web-style{
  color: #3FA796;
}
h2{
   font-size: 30px;
   padding-bottom: 40px;
   color: #3FA796;
}
h3{
  margin: 0;
   font-size: 30px;
}
.photo{
  width: 14%;
    padding-top: 20px;
    border-radius: 50%
  }
.design-photo{
  width: 25%;
  padding-top: 20px;
}
.bulb-photo{
    width: 25%;
    padding-top: 20px;
}
.image{
  width: 20%;
  margin-top: 20px;
}
p{
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  position: relative;
  bottom: 60px;
  padding-top: 30px;

}
.bottom-cloud{
 position: relative;
 bottom: 300px;
}
.skills{
  width: 50%;
  margin: auto;
 line-height: 2;
}
.help{
  font-size: 50px;
  color: #3FA796;
}
.top-container{
  background-color: #E4F9F5;
  padding-top: 220px;
}
.bottom-container{
  padding-top: 50px;
  margin: auto;
  background-color: #E4F9F5;

}
.top-cloud{
  position: relative;
  left: 300px;
  bottom: 80px;
}
.btn{
 font-size: 40px;
 text-decoration: none;
 line-height: normal;
 display: block;
 position: relative;
 background: #45b29a;
 width: 50%;
 margin: auto;

}
.end{
position: relative;
bottom: 0;
}
